@tailwind base;
@tailwind components;
@tailwind utilities;


/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  background-color:#121212;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family:'Poppins', sans-serif
}
